/* .expense-box {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin: 20px;
  } */


  .expense-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    padding: 20px;
    padding-left:8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin: 20px;
    width:900px;

  }

  .expenses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:500px;
  }