.user-profile {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
  }
  
  .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-right: 10px; */
  }
  
  .user-name {
    font-size: 16px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow */
    max-width: 120px; /* Adjust this value as needed */
  }
  
  .dropdown-arrow {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
  }
  
  .dropdown-menu button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
  }
